<div *ngIf="show" class="outer-wrapper" fxLayout="column" fxLayoutGap="40px">
  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex="20%">
      <mat-card class="mat-elevation-z4">
        <img mat-card-image [src]="show.getPosterUrl()" />
      </mat-card>
    </div>
    <div fxLayout="column">
      <div fxLayout="row">
        <h1 class="title">{{ show.name }}</h1>
        <h1 class="subtitle">({{ show.firstAirDate }})</h1>
      </div>
      <h2 class="subtitle">{{ show.getVerboseGenres() }}</h2>
      <h2 class="secondary-title">Overview</h2>
      <p>{{ show.overview }}</p>
    </div>
  </div>
  <div>
    <h1 class="title">Seasons</h1>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let season of show.seasons">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ season.name }} </mat-panel-title>
          <mat-panel-description> {{ season.airDate }} </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutGap="16px">
          <img [src]="season.getPosterUrl()" fxFlex="10%" />
          <div fxLayout="column" fxFlex="90%" fxLayoutAlign="space-between">
            <div fxLayout="column">
              <h2 class="subtitle">Overview</h2>
              <p>{{ season.overview }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
              <button
                mat-flat-button
                class="review-button"
                (click)="openReviewDialog()"
              >
                Write a review <mat-icon matSuffix>search</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
