<div class="outer-wrapper">
  <mat-form-field
    [formControl]="searchBar"
    ngDefaultControl
    appearance="outline"
  >
    <mat-label>Search for users</mat-label>
    <input matInput />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex="25%"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let user of userList"
    >
      <mat-toolbar
        class="mat-elevation-z4"
        (click)="openUserDetails(user.id)"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <span class="title">{{ user.username }}</span>
        <span
          ><mat-icon [ngStyle]="{ color: 'gold' }">star</mat-icon
          >{{ user.totalReviews }} reviews</span
        >
        <span
          ><mat-icon [ngStyle]="{ color: 'red' }">favorite</mat-icon
          >{{ user.totalFollowers }} followers</span
        >
      </mat-toolbar>
    </div>
  </div>
</div>
