<div class="outer-wrapper">
  <mat-form-field
    [formControl]="searchBar"
    ngDefaultControl
    class="search-bar"
    appearance="outline"
  >
    <mat-label>Search for TV shows</mat-label>
    <input matInput />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="cards-wrapper">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div
        fxFlex="25%"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
        *ngFor="let show of showList"
      >
        <mat-card class="mat-elevation-z4" (click)="openDetails(show.id)">
          <mat-card-header>
            <mat-card-title>{{ show.name }}</mat-card-title>
            <mat-card-subtitle>{{ show.firstAirDate }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="show.getPosterUrl()" />
          <mat-card-content>
            <p>{{ show.overview }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
