/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-dialog {
  .mat-dialog-container {
    padding: 0;
  }

  .mat-dialog-content {
    height: calc(100% - 140px);
    padding: 0 28px !important;
    margin: 0 !important;
  }

  .dialog-header {
    display: flex;
    justify-content: space-between;
  }

  .mat-dialog-actions {
    padding: 1em 2em 0 2em;
    flex-wrap: nowrap;
  }
}
